<div class="container p-3">
    <div class="row">
        <div class="col-12">
            {{ message }}
            <div *ngIf="steps">
                Steps taken: {{ steps }}
            </div>
            <div *ngIf="path">
                Most efficient path:
                <li *ngFor="let path_element of path">
                    {{ path_element }}
                </li>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <form [formGroup]="form" (submit)="submit()">
            <div class="card">
                <div class="card-header">Array data</div>
                <div class="card-body" formArrayName="numbers_array">
                    <div class="row">
                        <div class="col-md-3" *ngFor="let element of elementFormGroup.controls; let i = index;">
                            <div [formGroupName]="i" class="row">
                                <div class="form-group">
                                    <label>Array element {{i}}</label>
                                    <input class="form-control" formControlName="element" type="number" min="0" step="1">
                                    <span class="text-danger" *ngIf="getElementFormGroup(i).controls['element'].touched && getElementFormGroup(i).controls['element'].hasError('required')">
                                    Field is required! </span>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-danger" type="button" (click)="removeElement(i)"> Remove </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-12">
                        <button class="btn btn-primary m-1" type="button" (click)="addElement()"> Add element </button>
                        <button class="btn btn-success m-1" [disabled]="!form.valid" type="submit"> Submit </button>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>